*{
  margin: 0%;
  padding: 0%;
}

h1{
  flex-wrap: wrap;
}
#counterCard {
  display: flex;             /* 1. Turns on Flexbox */
  flex-direction: column;    /* 2. Stacks the h1 and button vertically */
  align-items: center;       /* 3. Centers them horizontally */
  justify-content: center;   /* 4. Centers them vertically */
  height: 300px;     
  width: 300px;        /* 5. Gives the div the full height of the screen */
}
button{
  background: #666;
  color: black;
  width: 200px;
  border-radius: 5%;
  border-color: aquamarine;
  border-width: 3px;
}