* {
  margin: 0;
}
.main-container {
  height: 100vh;
  width: 100vh;

  background-color: black;
}
header {
  display: flex;
  height: 80px;
}

.logo-text {
}
.menu {
  display: flex;
}
.menu span {
  color: white;
  /* background-color: white; */
}
#div1 {
  display: flex;
}
.section-1-left {
  min-height: 200px;
  background-color: aliceblue;
}
.section-1-right {
  min-height: 200px;
  background-color: aliceblue;
}

#secrtion-2{

}